<div *ngIf="cart.cartStage.currentStage == 4" class="review-order-container">
    <div class="A1SizeBoxes" *ngIf="cart.items.A1.length > 0">
        <p>A1 Size Kits</p>
        <div class="shipping-box-container">
            <div *ngFor="let item of cart.items.A1; let i = index" [attr.data-index]="i" class="shipping-box">
                <div class="no-form">
                    <div class="box-name">{{item.rxtx.to}}'s Kit</div>
                    <div class="shipping-details-button" (click)="showDetails(item.productSize, i)">Show Details
                    </div>
                </div>

                <div *ngIf="selectedProductIndex == i && selectedProductSize == item.productSize"
                    class="shipping-form-container">
                    <hr>
                    <ng-container [ngTemplateOutlet]="simpleLink" [ngTemplateOutletContext]="{item:item, index: i}">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="A2SizeBoxes" *ngIf="cart.items.A2.length > 0">
        <p>A2 Size Kits</p>
        <div class="shipping-box-container">
            <div *ngFor="let item of cart.items.A2; let i = index" [attr.data-index]="i" class="shipping-box">
                <div class="no-form">
                    <div class="box-name">{{item.rxtx.to}}'s Kit</div>
                    <div class="shipping-details-button" (click)="showDetails(item.productSize, i)">Show Details
                    </div>
                </div>

                <div *ngIf="selectedProductIndex == i && selectedProductSize == item.productSize"
                    class="shipping-form-container">
                    <hr>
                    <ng-container [ngTemplateOutlet]="simpleLink" [ngTemplateOutletContext]="{item:item, index: i}">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="A3SizeBoxes" *ngIf="cart.items.A3.length > 0">
        <p>A3 Size Kits</p>
        <div class="shipping-box-container">
            <div *ngFor="let item of cart.items.A3; let i = index" [attr.data-index]="i" class="shipping-box">
                <div class="no-form">
                    <div class="box-name">{{item.rxtx.to}}'s Kit</div>
                    <div class="shipping-details-button" (click)="showDetails(item.productSize, i)">Show Details
                    </div>
                </div>

                <div *ngIf="selectedProductIndex == i && selectedProductSize == item.productSize"
                    class="shipping-form-container">
                    <hr>
                    <ng-container [ngTemplateOutlet]="simpleLink" [ngTemplateOutletContext]="{item:item, index: i}">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cart.cartStage.currentStage == 5" class="confirm-order-container">
    <div class="A1SizeBoxes" *ngIf="cart.items.A1.length > 0">
        <div class="confirm-row">
            <div class="name">
                {{cart.items.A1.productType}} A1 Size<br>
                Rs. {{priceA1}} x {{cart.items.A1.length}}
            </div>
            <div class="price">
                Rs. {{totalA1Cost}}
            </div>
        </div>
    </div>

    <div class="A2SizeBoxes" *ngIf="cart.items.A2.length > 0">
        <div class="confirm-row">
            <div class="name">
                {{cart.items.A2.productType}} A2 Size<br>
                Rs. {{priceA2}} x {{cart.items.A2.length}}
            </div>
            <div class="price">
                Rs. {{totalA2Cost}}
            </div>
        </div>
    </div>

    <div class="A3SizeBoxes" *ngIf="cart.items.A3.length > 0">
        <div class="confirm-row">
            <div class="name">
                {{cart.items.A3.productType}} A3 Size<br>
                Rs. {{priceA3}} x {{cart.items.A3.length}}
            </div>
            <div class="price">
                Rs. {{totalA3Cost}}
            </div>
        </div>
    </div>

    <hr>

    <div class="confirm-row A1SizeBoxes">
        <div class="name" style="padding-left: 0.4rem">
            Total cost
        </div>
        <div class="price">
            Rs. {{totalCost}}
        </div>
    </div>

    <div class="confirm-row A1SizeBoxes" style="padding-left: 0.2rem; background-color:white; border: 1px gray dotted">
        <div class="name" style="padding-left: 0.4rem">
            Amount donated
        </div>
        <div class="price">
            Rs. {{amountDonated}}
        </div>
    </div>

    <div class="confirm-row A1SizeBoxes" style="padding-left: 0.2rem; background-color:white; border: 1px gray dotted">
        <div class="name" style="padding-left: 0.4rem; width: 50%">
            Tentative Shipping Charges
        </div>
        <div class="price">
            Rs. 100/address
        </div>
    </div>

    <div class="confirm-row A1SizeBoxes" style="background-color: white; opacity:0.8;">
        <p>* Delivery charges are tentative & subject to change based on the quotations given by logistics providers</p>
    </div>
</div>

<ng-template #simpleLink let-item='item' let-index='index'>
    <div class="shipping-form">
        <div class="shipping-form-input">

            <div class="label">
                To
            </div>
            <div class="label-value">
                {{item.rxtx.to}}
            </div>

            <div class="label">
                Message
            </div>
            <div class="label-value">
                {{item.rxtx.message}}
            </div>

            <div class="label">
                From
            </div>
            <div class="label-value">
                {{item.rxtx.from}}
            </div>


            <div class="label">
                Product
            </div>
            <div class="label-value">
                {{item.productType}} - {{item.productSize}}
            </div>


            <div class="label">
                Address Line 1
            </div>
            <div class="label-value">
                {{item.shippingDetails.address_line_1}}
            </div>

            <div class="label">
                Address Line 2
            </div>
            <div class="label-value">
                {{item.shippingDetails.address_line_2}}
            </div>

            <div class="label">
                City
            </div>
            <div class="label-value">
                {{item.shippingDetails.city}}
            </div>

            <div class="label">
                Pincode
            </div>
            <div class="label-value">
                {{item.shippingDetails.pincode}}
            </div>

            <div class="label">
                Landmark
            </div>
            <div class="label-value">
                {{item.shippingDetails.landmark}}
            </div>

            <div class="label">
                Recipient Contact
            </div>
            <div class="label-value">
                {{item.shippingDetails.recipientContact}}
            </div>
        </div>
    </div>
</ng-template>
