<div class="A1SizeBoxes" *ngIf="cart.items.A1.length > 0">
    <p>A1 Size Boxes</p>
    <div class="shipping-box-container">
        <div *ngFor="let item of cart.items.A1; let i = index" [attr.data-index]="i" class="shipping-box">
            <div class="no-form">
                <div class="box-name">{{item.rxtx.to}}'s {{item.productType}}</div>
                <div class="shipping-details-button" (click)="expandForm(item.productSize, i)" *ngIf="!isFormComplete">Add Shipping details
                </div>

                <div class="configuredFormControl" *ngIf="isFormComplete">
                  <div class="configuredBadge">
                    <img id="configuredBadgeLogo" src="../assets/formConfigured.svg">
                    <span class="configuredText">Configured</span>
                  </div>
                  <div
                     class="shipping-details-button-edit"
                     type="button"
                     (click)="expandForm(item.productSize, i)">
                     Edit
                   </div>
                 </div>

            </div>

            <div *ngIf="selectedProductIndex == i && selectedProductSize == item.productSize"
                class="shipping-form-container">
                <hr>
                <ng-container [ngTemplateOutlet]="simpleLink" [ngTemplateOutletContext]="{item:item, index: i}">
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="A1SizeBoxes" *ngIf="cart.items.A2.length > 0">
    <p>A2 Size Boxes</p>
    <div class="shipping-box-container">
        <div *ngFor="let item of cart.items.A2; let i = index" [attr.data-index]="i" class="shipping-box">
            <div class="no-form">
                <div class="box-name">{{item.rxtx.to}}'s {{item.productType}}</div>
                <div class="shipping-details-button" (click)="expandForm(item.productSize, i)" *ngIf="!isFormComplete">Add Shipping details
                </div>
            </div>

            <div class="configuredFormControl" *ngIf="isFormComplete">
              <div class="configuredBadge">
                <img id="configuredBadgeLogo" src="../assets/formConfigured.svg">
                <span class="configuredText">Configured</span>
              </div>
              <div
                 class="shipping-details-button-edit"
                 type="button"
                 (click)="expandForm(item.productSize, i)">
                 Edit
               </div>
             </div>

            <div *ngIf="selectedProductIndex == i && selectedProductSize == item.productSize"
                class="shipping-form-container">
                <hr>
                <ng-container [ngTemplateOutlet]="simpleLink" [ngTemplateOutletContext]="{item:item, index: i}">
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="A1SizeBoxes" *ngIf="cart.items.A3.length > 0">
    <p>A3 Size Boxes</p>
    <div class="shipping-box-container">
        <div *ngFor="let item of cart.items.A3; let i = index" [attr.data-index]="i" class="shipping-box">
            <div class="no-form">
                <div class="box-name">{{item.rxtx.to}}'s {{item.productType}}</div>
                <div class="shipping-details-button" (click)="expandForm(item.productSize, i)" *ngIf="!isFormComplete">Add Shipping details
                </div>
            </div>

            <div class="configuredFormControl" *ngIf="isFormComplete">
              <div class="configuredBadge">
                <img id="configuredBadgeLogo" src="../assets/formConfigured.svg">
                <span class="configuredText">Configured</span>
              </div>
              <div
                 class="shipping-details-button-edit"
                 type="button"
                 (click)="expandForm(item.productSize, i)">
                 Edit
               </div>
             </div>

            <div *ngIf="selectedProductIndex == i && selectedProductSize == item.productSize"
                class="shipping-form-container">
                <hr>
                <ng-container [ngTemplateOutlet]="simpleLink" [ngTemplateOutletContext]="{item:item, index: i}">
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #simpleLink let-item='item' let-index='index'>
    <div class="shipping-form">
        <div class="shipping-form-input">
            <div class="label">
                Address Line 1:-
            </div>
            <div class="input-box">
                <input placeholder="Enter address" [(ngModel)]="shippingDetails.address_line_1">
            </div>

            <div class="label">
                Address Line 2:-
            </div>
            <div class="input-box">
                <input placeholder="Enter address" [(ngModel)]="shippingDetails.address_line_2">
            </div>

            <div class="label">
                Enter City:-
            </div>
            <div class="input-box">
                <input placeholder="Enter City" [(ngModel)]="shippingDetails.city">
            </div>

            <div class="label">
                Enter Pincode:-
            </div>
            <div class="input-box">
                <input placeholder="Enter pincode" type="number" [(ngModel)]="shippingDetails.pincode">
            </div>

            <div class="label">
                Enter Nearest Landmark:-
            </div>
            <div class="input-box">
                <input placeholder="Enter nearest landmark" [(ngModel)]="shippingDetails.landmark">
            </div>

            <div class="label">
                Recipient Contact:-
            </div>
            <div class="input-box">
                <input placeholder="Enter Recipient Contact Number" type="number" [(ngModel)]="shippingDetails.recipientContact">
            </div>
        </div>

        <div class="button-container">
            <div class="discard-button" (click)="discardButtonAction(item.productSize, index)">
                Discard
            </div>
            <div class="save-button" (click)="saveButtonAction(item.productSize, index)">
                Save
            </div>
        </div>
    </div>
</ng-template>
