.shipping-box-container .shipping-box .no-form {
    display: inline-block;
    vertical-align: middle;
    width:100%;
}

.shipping-box {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0.3rem;
}

.shipping-box-container .shipping-box .box-name {
    display: inline-block;
    margin: auto 0;
    width: 35%;
    margin-left: 10px;
    vertical-align: middle;
}

.shipping-details-button {
    display: inline-block;
    width: 58%;
    /* align-items: center; */
    text-align: right;
    color: #f29722;
    margin-right: 10px;
    /* justify-content: center; */
}

.shipping-details-button-edit {
    display: inline-block;
    width: auto;
    /* align-items: center; */
    text-align: right;
    color: #f29722;
    margin-right: 10px;
    /* justify-content: center; */
}

.shipping-form input {
    margin-top: 10px;
    width: 98%;
    margin-bottom: 20px;
    padding: 5px;
}

.shipping-form .button-container{
    display: flex;
    place-content: center;
}

.discard-button, .save-button{
    display: inline-block;
    border: 1px solid #f29722;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.discard-button{
    color: #f29722;
    border: 1px solid #f29722;
}

.save-button{
    color: white;
    background-color: #f29722;
}

.shipping-form-input{
    max-height: 45vh;
    overflow-y: scroll;
}

.A1SizeBoxes{
    background-color: #F0D18F6E;
    padding: 1rem 0.3rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.A2SizeBoxes{
    background-color: #F0D18F6E;
    padding: 1rem 0.3rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.A3SizeBoxes{
    background-color: #F0D18F6E;
    padding: 1rem 0.3rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

p{
    text-align: center;
}

.configuredBadge {
  display: inline-block;
  color: #F29722;
  padding: 0.5rem;
  font-size: 0.95rem;
}

.configuredText{
  vertical-align: middle;
}

#configuredBadgeLogo{
  padding-right: 0.2rem;
  height: auto;
  width: 20%;
}

/* #configuredFormControl {
  padding-right: 0.2rem;
  height: 100%;
  width: 60%;
  vertical-align: middle;
  display: inline-block;
} */

.configuredFormControl {
  width: 58%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFC857;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.boxMeta{
    font-size: 0.9rem;
    opacity: 0.85;
}
