<!--
<ng-template *ngIf="cart.items.A1.length > 0">
  <p>A1 Size Boxes</p>
  {{item.rxtx.to}}'s {{item.productType}}
  {{item.shippingDetails.apartment}}
  {{item.cost}}
  <app-cart-boxes *ngFor="let item of cart.items.A1; let i = index" [item]="item" [index]="i" (boxConfigUpdated)="handleBoxConfigUpdate($event)"></app-cart-boxes>
</ng-template>

<div *ngIf="cart.items.A2.length > 0">
  <p>A2 Size Boxes</p>
  <app-cart-boxes *ngFor="let item of cart.items.A2; let i = index" [item]="item" [index]="i"></app-cart-boxes>
</div>

<div *ngIf="cart.items.A3.length > 0">
  <p>A3 Size Boxes</p>
  <app-cart-boxes *ngFor="let item of cart.items.A3; let i = index" [item]="item" [index]="i"></app-cart-boxes>
</div> -->
