<div class="configureboxes">Configure Boxes</div>

<div class="A1SizeBoxes" *ngIf="cart.items.A1.length > 0">
  <p>A1 Size Boxes</p>
  <app-cart-boxes *ngFor="let itemA1 of cart.items.A1; let i = index; trackBy:trackByIdx" [item]="itemA1" [index]="i" [size]="'A1'" (boxConfigUpdated)="handleBoxConfigUpdate($event)" [items]="cart.items.A1"></app-cart-boxes>
</div>

<div class="A2SizeBoxes" *ngIf="cart.items.A2.length > 0">
  <p>A2 Size Boxes</p>
  <app-cart-boxes *ngFor="let itemA2 of cart.items.A2; let i = index" [item]="itemA2" [index]="i" [size]="'A2'" (boxConfigUpdated)="handleBoxConfigUpdate($event)" [items]="cart.items.A2"></app-cart-boxes>
</div>

<div class="A3SizeBoxes" *ngIf="cart.items.A3.length > 0">
  <p>A3 Size Boxes</p>
  <app-cart-boxes *ngFor="let itemA3 of cart.items.A3; let i = index" [item]="itemA3" [index]="i" [size]="'A3'" (boxConfigUpdated)="handleBoxConfigUpdate($event)" [items]="cart.items.A3"></app-cart-boxes>
</div>
<!-- <h3 style="text-align: center;">{{details.description.header}} </h3>
<div class="row">
  <div class="col">
    <p>{{details.description.first}}</p>
  </div>
  <div class="col">
    <p>{{details.description.second.a}}<br> {{details.description.second.b}}<br>{{details.description.second.c}}</p>
  </div>
  <div class="col">
    <p>{{details.description.third}}</p>
  </div>
</div> -->
