<div class="configureboxes">Configure Boxes</div>

<div class="A1SizeBoxes" *ngIf="cart.items.A1.length > 0">
  <p>A1 Size Kit</p>
  <app-cart-boxes *ngFor="let itemA1 of cart.items.A1; let index = index; trackBy:trackByIdx" [index]="index" (boxConfigUpdated)="handleBoxConfigUpdate($event)" [items]="cart.items.A1" [(item)]="cart.items.A1[index]"></app-cart-boxes>
</div>

<div class="A2SizeBoxes" *ngIf="cart.items.A2.length > 0">
  <p>A2 Size Kit</p>
  <app-cart-boxes *ngFor="let itemA2 of cart.items.A2; let index = index;" (boxConfigUpdated)="handleBoxConfigUpdate($event)" [(item)]="cart.items.A2[index]" [index]="index"></app-cart-boxes>
</div>

<div class="A3SizeBoxes" *ngIf="cart.items.A3.length > 0">
  <p>A3 Size Kit</p>
  <app-cart-boxes *ngFor="let itemA3 of cart.items.A3; let index = index" (boxConfigUpdated)="handleBoxConfigUpdate($event)" [items]="cart.items.A3" [(item)]="cart.items.A3[index]" [index]="index"></app-cart-boxes>
</div>

<!-- <h3 style="text-align: center;">{{details.description.header}} </h3>
<div class="row">
  <div class="col">
    <p>{{details.description.first}}</p>
  </div>
  <div class="col">
    <p>{{details.description.second.a}}<br> {{details.description.second.b}}<br>{{details.description.second.c}}</p>
  </div>
  <div class="col">
    <p>{{details.description.third}}</p>
  </div>
</div> -->
