.container{
  background-color: #F7EDD0;
  margin-top: 2rem;
  border-radius: 4%;
}

.types{
  background-color:#F0D18F6E;
  width: auto;
  padding: 3%;
  margin: 0.5rem;
  border-radius: 1rem;

}

.typeA1{
  text-align: center;
  border-right: 1px black solid;
}

.typeA2{
  text-align: center;
  border-right: 1px black solid;

}

.typeA3{
  text-align: center;
}

.typeName{
  font-size: x-large;
  font-weight: 500;
}

button{
    margin: 0 0.5rem !important;
    border: none !important;
    background-color: #FFC857;
    border-radius: 5%;
    font-size: large !important;
}

#count{
  margin: 0;
  font-size: 1.3rem;

}

.countBtn{
  background-color: #FFC857;
  border-radius: 0.5rem;
  color: white !important;
}

button:hover{
    background-color: #FFE0A3;
    transition-duration: 0.5s;
}

h5{
  margin-bottom: none !important;
}

#orderSummaryHeader{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1rem;
}

.summaryBox{
  background-color:#F0D18F6E;
  width: auto;
  padding: 3%;
  margin: 0.5rem;
  border: 1rem white;
  border-radius: 1rem;
}

.typeOfSection{
  font-size: 1.1rem;
}

.orderNowBtnContainer {
  text-align: center;
}

.orderNowBtn{
  border-radius: 1.3rem !important;
  color: white;
  padding: 0.5rem !important;
  background-color: #FFC857;
}
