<ng-template [ngIf]="cart.cartStage.currentStage == 0">

  <!-- <div>
    <p id="orderSummaryHeader">Types of Mangoes</p>
  </div>
  <div class="row types">
    <div class="col-4 typeA1">
      <span class="typeName">A1</span>
      <br>
      <span style="font-size: 1.2rem;">Small</span>
      <br>
      <span><b>150-225</b> grams/pc</span>
    </div>

    <div class="col-4 typeA2">
      <span class="typeName">A2</span>
      <br>
      <span style="font-size: 1.2rem;">Medium</span>
      <br>
      <span><b>226-290</b> grams/pc</span>
    </div>

    <div class="col-4 typeA3">
      <span class="typeName">A3</span>
      <br>
      <span style="font-size: 1.2rem;">Large</span>
      <br>
      <span><b>291-390</b> grams/pc</span>
    </div>
  </div> -->

  <p id="orderSummaryHeader">Select Your Kit</p>

  <div class="summaryBox">
    <span class="typeOfSection">Covid Warrior Kit A1</span>
    <div class="d-flex justify-content-between cartCTAs">
      <div class="typeOfSection_price">Pack of 10:&nbsp;<b>Rs {{priceList["COVIDWarriorKit"]["A1_10"]}}</b>/box</div>
      <div class="ms-auto countBtn">
        <button type="button" name="button" (click)="updateCart($event,-1,'A1', 'Warrior Kit', 10)">-</button>
        <span id="count">{{getCount('10', 'A1')}}</span>
        <button type="button" name="button" (click)="updateCart($event,1,'A1', 'Warrior Kit', 10)">+</button>
      </div>
    </div>
  </div>

  <div class="summaryBox">
    <span class="typeOfSection">Covid Warrior Kit A2  (Pack of 6)</span>
    <div class="d-flex justify-content-between cartCTAs">
      <div class="typeOfSection_price">Pack of 6:&nbsp;<b> Rs {{priceList["COVIDWarriorKit"]["A2_6"]}}</b>/box</div>
      <div class="ms-auto countBtn">
        <button type="button" name="button" (click)="updateCart($event, -1, 'A2', 'Warrior Kit', 6)">-</button>
        <span id="count">{{getCount('6', 'A2')}}</span>
        <button type="button" name="button" (click)="updateCart($event, 1, 'A2', 'Warrior Kit', 6)">+</button>
      </div>
    </div>
    <div class="d-flex justify-content-between cartCTAs">
      <div class="typeOfSection_price">Pack of 10:&nbsp;<b>Rs {{priceList["COVIDWarriorKit"]["A2_10"]}}</b>/box</div>
      <div class="ms-auto countBtn">
        <button type="button" name="button" (click)="updateCart($event, -1, 'A2', 'Warrior Kit', 10)">-</button>
        <span id="count">{{getCount('10', 'A2')}}</span>
        <button type="button" name="button" (click)="updateCart($event, 1, 'A2', 'Warrior Kit', 10)">+</button>
      </div>
    </div>
  </div>


  <div class="summaryBox">
    <span class="typeOfSection">Covid Warrior Kit A3  (Pack of 6)</span>
    <div class="d-flex justify-content-between cartCTAs">
      <div class="typeOfSection_price">Pack of 6:&nbsp;<b>Rs {{priceList["COVIDWarriorKit"]["A3_6"]}}</b>/box</div>
      <div class="ms-auto countBtn">
        <button type="button" name="button" (click)="updateCart($event, -1, 'A3', 'Warrior Kit', 6)">-</button>
        <span id="count">{{getCount('6', 'A3')}}</span>
        <button type="button" name="button" (click)="updateCart($event, 1, 'A3', 'Warrior Kit', 6)">+</button>
      </div>
    </div>
    <div class="d-flex justify-content-between cartCTAs">
      <div class="typeOfSection_price">Pack of 10:&nbsp;<b>Rs {{priceList["COVIDWarriorKit"]["A3_10"]}}</b>/box</div>
      <div class="ms-auto countBtn">
        <button type="button" name="button" (click)="updateCart($event, -1, 'A3', 'Warrior Kit', 10)">-</button>
        <span id="count">{{getCount('10', 'A3')}}</span>
        <button type="button" name="button" (click)="updateCart($event, 1, 'A3', 'Warrior Kit', 10)">+</button>
      </div>
    </div>
  </div>

  <br>
</ng-template>
