<div class="ourProducts">
  <span>Your Order</span>
</div>
<div class="d-flex justify-content-around sliderComponent">
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="cart" (click)="switchProcess($event)" autocomplete="off" style="display: block;">
    <img src="../assets/cart.svg" alt=""  data-btn="">
  </button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="boxArrangement" (click)="switchProcess($event)" autocomplete="off" style="display: block;">
    <img src="../assets/boxArrangement.svg" alt=""  data-btn="">
  </button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="shipping" (click)="switchProcess($event)" autocomplete="off" style="display: block;">
    <img src="../assets/shipping.svg" alt=""  data-btn="">
  </button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="checkout" (click)="switchProcess($event)" autocomplete="off" style="display: block;">
    <img src="../assets/checkout.svg" alt=""  data-btn="">
  </button>
</div>
