<div class="ourProducts">
  <img class="" id="logo" src="../assets/indiaGoldAgro.png" alt="indiagold logo">
<div class="ourProductsText">
    <span >Our Products</span>
</div>
</div>
<div class="d-flex justify-content-around sliderComponent">
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="covidBox" (click)="switchProduct($event)" autocomplete="off">Covid Box</button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="mangoesForYou" (click)="switchProduct($event)" autocomplete="off">Mangoes for You</button>
</div>
