button{
    color: #33322F !important;
    height: auto;
    width: 50%;
}

.btn:focus{
    box-shadow:none !important;
}

button:hover{
border: 1px solid black;
transition-duration: 0.5s;
}

.sliderComponent{
  background-color: white;
  border-bottom: 1px #DFDFDF solid;
}

.ourProducts{
  display: inline-block;
  text-align: center;
  background-color: white;
  border-bottom: 1px #DFDFDF solid;
  font-size: 1.3rem;
}

.ourProductsText{
  width: 60%;
  margin:0 auto;
  padding-top: 1rem;
}

#logo{
  float: left;
  width: 20%;
  height: auto;
}
