<!-- 1st row -->
<div class="ourProducts">
  <div class="logoDiv" routerLink="/">
    <img class="" id="logo" src="../assets/logo.png" alt="indiagold logo">
  </div>
  <div class="ourProductsText">
    <span>COVID Warrior Kit</span>
  </div>
</div>

<!-- 2nd row -->
<!-- <div class="d-flex justify-content-around sliderComponent">
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="covidBox" (click)="switchProduct($event)" autocomplete="off">COVID Warrior Kit</button>
  <button type="button" class="btn d-lg-block" data-bs-toggle="button" data-btn="mangoesForYou" (click)="switchProduct($event)" autocomplete="off">Mangoes for You</button>
</div> -->

<!-- <div class="d-flex justify-content-around sliderComponent">
  <div type="" class="btn d-lg-block {{selectedTab == 'covidBox' ? 'selected': ''}}" data-bs-toggle="button" data-btn="covidBox" (click)="switchProduct($event)" autocomplete="off">COVID Warrior Mission</div> -->
  <!-- <div type="" class="btn d-lg-block {{selectedTab == 'mangoesForYou' ? 'selected': ''}}" data-bs-toggle="button" data-btn="mangoesForYou" (click)="switchProduct($event)" autocomplete="off">Mangoes for You</div> -->
<!-- </div> -->
