button{
    color: #33322F !important;
    height: auto;
    width: 50%;
}

.btn:focus{
    box-shadow:none !important;
}

button:hover{
border: 1px solid black;
transition-duration: 0.5s;
}

.sliderComponent{
  background-color: white;
  border-bottom: 1px #DFDFDF solid;
}

.ourProducts{
  display: inline-block;
  text-align: center;
  background-color: white;
  border-bottom: 1px #DFDFDF solid;
  font-size: 1.3rem;
}

.ourProductsText{
  width: 60%;
  margin:0 auto;
  padding-top: 1rem;
}

.logoDiv{
  margin: 0.5rem;
}

#logo{
  box-shadow:-1px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 0.3rem;
  float: left;
  width: 15%;
  margin-bottom: 0.7rem;
  height: auto;
}

.selected {
  border-bottom: 1.5px solid #33322f;
  border-radius: 0px;
}
