.sliderDiv{
  padding: 0px 0px;
}

.descriptionDiv{
  margin: 0.3rem 0rem;
  max-height: 80%;
  overflow: scroll ;
}

.inputDiv{
  margin-bottom: 0.4rem;
}

.btn:focus{
    box-shadow:none !important;
}
