
  <div class="container">
    <div class="row">
      <!-- left panel -->
      <div class="col-lg-3 d-flex flex-column align-items-start-center justify-content-center sliderDiv" [ngSwitch]="cart.cartStage.currentStage">
        <app-description-slider-left (newItemEvent)="addItem($event)" *ngSwitchCase="-1"></app-description-slider-left>
        <!-- <app-description-slider-left (newItemEvent)="addItem($event)" *ngSwitchCase="0"></app-description-slider-left> -->
        <app-cart-navigator *ngSwitchCase="0" [cart]="cart"></app-cart-navigator>
        <app-cart-navigator *ngSwitchCase="1" [cart]="cart"></app-cart-navigator>
        <app-cart-navigator *ngSwitchCase="2" [cart]="cart"></app-cart-navigator>
        <app-cart-navigator *ngSwitchCase="3" [cart]="cart"></app-cart-navigator>
        <app-cart-navigator *ngSwitchCase="4" [cart]="cart"></app-cart-navigator>
        <app-cart-navigator *ngSwitchCase="5" [cart]="cart"></app-cart-navigator>
        <app-cart-navigator *ngSwitchCase="6" [cart]="cart"></app-cart-navigator>
      </div>

      <!-- main canvas: center -->
      <div class="col-lg-6 descriptionDiv" [ngClass]="cart.cartStage.currentStage == -1 ? 'descriptionOuter': 'descriptionInner'"  [ngSwitch]="cart.cartStage.currentStage">
        <app-description [btnType]="selectedBtn" *ngSwitchCase="-1" ></app-description>
        <app-add-to-cart *ngSwitchCase="0" (cartItemsUpdatedEvent)="updateCart($event)" [cart]="cart" [allItemsConfigured]="allItemsConfigured"></app-add-to-cart>
        <app-configure-boxes *ngSwitchCase="1" [cart]="cart" (boxConfigUpdatedByChild)="updateBoxConfig($event)"></app-configure-boxes>
        <app-arrangement *ngSwitchCase="2" [cart]="cart" (updateArrangementStage)="updateArrangementStage($event)"></app-arrangement>
        <app-shipping *ngSwitchCase="3" [cart]="cart" (updateShippingStage)="updateShippingStage($event)"></app-shipping>
        <app-checkout *ngSwitchCase="4" [cart]="cart" [priceList]="priceList" (updateShippingStage)="updateCheckoutStage($event)"></app-checkout>
        <app-checkout *ngSwitchCase="5" [cart]="cart" [priceList]="priceList" (updateShippingStage)="updateCheckoutStage($event)"></app-checkout>
        <app-end-screen *ngSwitchCase="6" [cart]="cart" [priceList]="priceList"></app-end-screen>
        <div class="bottomFiller"></div>
      </div>

    </div>

    <div class="row bottomPanel">
      <!-- right panel -->
      <div class="col-lg-3 inputDiv">
        <app-description-input-right *ngIf="cart.cartStage.currentStage != 6" (submitCartEvent)="updateCartStage($event)" [cart]="cart" [allItemsConfigured]="allItemsConfigured"></app-description-input-right>
      </div>
    </div>
  </div>
