<p id="orderSummaryHeader">Order<br>summary</p>
<div class="summaryBox">
  <h4>A1</h4>
  <div class="d-flex justify-content-between">
    <h6>Rs 500/box</h6>
    <div class="ms-auto d-flex countBtn">
      <button type="button" name="button">-</button>
      <h5 id="count">0</h5>
      <button type="button" name="button">+</button>
    </div>
  </div>
</div>
<br>
  <div class="summaryBox">
    <h4>A1</h4>
    <div class="d-flex justify-content-between">
      <p><b>Rs 500</b>/box</p>
      <div class="ms-auto d-flex countBtn">
        <button type="button" name="button">-</button>
        <h5 id="count">0</h5>
        <button type="button" name="button">+</button>
      </div>
    </div>
  </div>
<br>
  <div class="summaryBox">
    <h4>A1</h4>
    <div class="d-flex justify-content-between">
      <h6>Rs 500/box</h6>
      <div class="ms-auto d-flex countBtn">
        <button type="button" name="button">-</button>
        <h5 id="count">0</h5>
        <button type="button" name="button">+</button>
      </div>
    </div>
  </div>
  <br>
  <button id="orderNowBtn" type="submit">Order Now </button>
