<p id="orderSummaryHeader">Order summary</p>
<div class="summaryBox">
  <span>A1</span>
  <div class="d-flex justify-content-between">
    <span><b>Rs 500</b>/box</span>
    <div class="ms-auto countBtn">
      <button type="button" name="button" (click)="updateValue($event,-1,'A1')">-</button>
      <span id="count">{{valueA1}}</span>
      <button type="button" name="button">+</button>
    </div>
  </div>
</div>
<br>
<div class="summaryBox">
  <span>A2</span>
  <div class="d-flex justify-content-between">
    <span><b>Rs 500</b>/box</span>
    <div class="ms-auto countBtn">
      <button type="button" name="button">-</button>
      <span id="count">0</span>
      <button type="button" name="button">+</button>
    </div>
  </div>
</div>
<br>
<div class="summaryBox">
<span>A3</span>
  <div class="d-flex justify-content-between">
    <span><b>Rs 500</b>/box</span>
    <div class="ms-auto countBtn">
      <button type="button" name="button">-</button>
      <span id="count">0</span>
      <button type="button" name="button">+</button>
    </div>
  </div>
</div>
<br>
<br>
<button class="orderNowBtn" type="submit">Order Now </button>
