<ng-template [ngIf]="cart.cartStage.currentStage == 0">

  <div>
    <p id="orderSummaryHeader">Types of Mangoes</p>
  </div>
  <div class="row types">
    <div class="col-4 typeA1">
      <span class="typeName">A1</span>
      <br>
      <span style="font-size: 1.2rem;">Small</span>
      <br>
      <span><b>150-225</b> grams</span>
    </div>

    <div class="col-4 typeA2">
      <span class="typeName">A2</span>
      <br>
      <span style="font-size: 1.2rem;">Medium</span>
      <br>
      <span><b>226-290</b> grams</span>
    </div>

    <div class="col-4 typeA3">
      <span class="typeName">A3</span>
      <br>
      <span style="font-size: 1.2rem;">Large</span>
      <br>
      <span><b>291-390</b> grams</span>
    </div>
  </div>

  <p id="orderSummaryHeader">Select Your Boxes</p>
  <div class="summaryBox">
    <span class="typeOfSection">Covid Warrior Box A1</span>
    <div class="d-flex justify-content-between">
      <span><b>Rs 499</b>/box</span>
      <div class="ms-auto countBtn">
        <button type="button" name="button" (click)="updateCart($event,-1,'A1', 'COVID Box')">-</button>
        <span id="count">{{cart.items.A1.length}}</span>
        <button type="button" name="button" (click)="updateCart($event,1,'A1', 'COVID Box')">+</button>
      </div>
    </div>
  </div>

  <div class="summaryBox">
    <span class="typeOfSection">Covid Warrior Box A2</span>
    <div class="d-flex justify-content-between">
      <span><b>Rs 599</b>/box</span>
      <div class="ms-auto countBtn">
        <button type="button" name="button" (click)="updateCart($event, -1, 'A2', 'COVID Box')">-</button>
        <span id="count">{{cart.items.A2.length}}</span>
        <button type="button" name="button" (click)="updateCart($event, 1, 'A2', 'COVID Box')">+</button>
      </div>
    </div>
  </div>

  <div class="summaryBox">
  <span class="typeOfSection">Covid Warrior Box A3</span>
    <div class="d-flex justify-content-between">
      <span><b>Rs 699</b>/box</span>
      <div class="ms-auto countBtn">
        <button type="button" name="button" (click)="updateCart($event, -1, 'A3', 'COVID Box')">-</button>
        <span id="count">{{cart.items.A3.length}}</span>
        <button type="button" name="button" (click)="updateCart($event, 1, 'A3', 'COVID Box')">+</button>
      </div>
    </div>
  </div>
  <br>
</ng-template>
<!-- order Now button -->
<div class="col-md-12" class="orderNowBtnContainer">
  <button class="orderNowBtn" type="submit" (click)="submitOrder($event, 0, 'Cart Submitted')" >Order Now </button>
</div>
