<h2>{{details.header}}</h2>
<img class="img-fluid" src={{details.imgsrc}} alt="mangoessss">
<h3 style="text-align: center;">{{details.description.header}} </h3>
<div class="row">
  <div class="col">
    <p>{{details.description.first}}</p>
  </div>
  <div class="col d-flex justify-content-center">
    <p>{{details.description.second.a}}<br> {{details.description.second.b}}<br>{{details.description.second.c}}</p>
  </div>
  <div class="col">
    <p>{{details.description.third}}</p>
  </div>
</div>
