<div class="descriptionPart">
  <h6 class="topicTagline">{{details.header}}</h6>
  <img class="img-fluid descriptionMidPic" src={{details.imgsrc}} alt="mangoessss">
  <h3 class="topicHeader">{{details.description.header}} </h3>
  <div class="row topicDescription">
    <div class="col-lg-4">
      <img class="d-lg-block" src="../assets/mango.svg" alt=""  data-btn="mangoes">
      <span>{{details.description.first}}</span>
    </div>
    <div class="col-lg-4">
      <img class="d-lg-block" src="../assets/covidTools.svg" alt=""  data-btn="covidTools">
      <span>{{details.description.second.a}}, {{details.description.second.b}}, {{details.description.second.c}}</span>
    </div>
    <div class="col-lg-4">
      <img class="d-lg-block" src="../assets/heart.svg" alt=""  data-btn="PMCaresFund">
      <span>{{details.description.third}}</span>
    </div>
  </div>
</div>
