.descriptionPart{
  margin: 0.5rem;
}

.topicTagline{
  text-align: center;
}

.topicHeader{
  text-align: center;
  margin-top: 0.5rem;
}

.descriptionMidPic{
  border-radius: 20px;
  height:280px;
  text-align: center;
}

.topicDescription img{
  margin: 0.5rem;
  width: 30px;
  height: auto;
}

.imgType{
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  height: auto;
}

.textType{
  padding-top: 0.5rem;
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}

.imgContainer {
  width: 100%;
  text-align: center;
 }
