.descriptionPart{
  margin: 0.5rem;
}

.topicTagline{
  text-align: center;
}

.topicHeader{
  text-align: center;
  margin-top: 0.5rem;
}

.descriptionMidPic{
  border-radius: 20px;
}

.topicDescription img{
  margin: 0.2rem;
  width: 30px;
  height: auto;
}