<div class="container">
    <div class="finalOrder">
        <span>Your cart is ready!</span>
    </div>
    <div class="finalOrderDescription">
        <!-- <span>Your cart is ready!</span> -->
        <br>
        <span>Please share this with our sales team on whatsapp to get the final quotation along with the delivery charges to proceed with the payment.</span>
    </div>

    <div class="col-md-12" class="orderNowBtnContainer">
        <button class="btn orderNowBtn" (click)="buildOrder()" >Share order<br>on WhatsApp </button>
    </div>
    <app-text-invoice></app-text-invoice>
</div>
